@tailwind base;
@tailwind components;
@tailwind utilities;
 



@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 0.55rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

 
@layer base {
  * {
    @apply border-border;
    font-family: Avenir, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji", sans-serif !important;
  }
  body {
    @apply bg-background text-foreground;
  }
}
.sidebar {
  transition: width 0.25s ease;
  width: 256px; /* Default expanded width */
}

.sidebar.collapsed {
  width: 64px; /* Collapsed width */
}

.sidebar.collapsed .hide-when-collapsed {
  display: none;
}

.sidebar:not(.collapsed):hover .hide-when-collapsed {
  display: block;
}

.sidebar.collapsed .logo-image {
  padding-left: 20px;
  padding-right: 1rem;
  height:51.68px;
  -o-object-position: left;
  object-position: left;
  -o-object-fit: cover;
  object-fit: cover;
}

.sidebar.collapsed .text-element {
  display: none; /* Hide text elements */
}

.sidebar.collapsed .icon-element {
  margin: 0; /* Set margin to 0 for icons */
}

/* Initial state of text elements */
.sidebar .text-element {
  display: block; /* or your preferred display style */
  transition: opacity 0.3s ease, visibility 0.3s ease;
  opacity: 1;
  visibility: visible;
}

/* State of text elements when sidebar is collapsed */
.sidebar.collapsed .text-element {
  display: none; /* Hide text elements */
  opacity: 0;
  visibility: hidden;
}








